{% extends 'base.html' %}

{% block title%}
Login
{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-between align-items-center">
    <form class="card w-50 p-4 bg-light rounded-lg" action="/auth/login" method="POST">
        <h2 class="text-primary text-center mb-4">Login</h2>
        {# csrf token #}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group mb-3">
            <label for="email" class="text-sm text-muted mb-1">Email</label>
            <input type="email" name="email" id="email" placeholder="john@example.com" required class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label for="password" class="text-sm text-muted mb-1">Password</label>
            <input type="password" name="password" id="password" placeholder="********" required class="form-control" />
        </div>

        <input type="submit" value="Login" class="btn btn-dark mb-3" />

        <!-- alert message -->
        {% if msg: %}
        <div class="alert alert-info alert-dismissible fade show mb-3">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}

        <hr />
        <p class="text-center">
            Don't have an account? <a href="/auth/register">Register</a>
        </p>
    </form>
</div>
{% endblock %}